@import "src/app/variables";

.array-item {
  border: 1px solid black;
  display: flex;
  width: 64px;
  min-height: 1em;

  span {
    width: 100%;
    align-self: flex-end;
    text-align: center;
    margin-bottom: $xs;
  }
}
