@import "src/app/variables";

.array-item {
  background-color: $card;
  border: 2px solid $stroke;
  display: flex;
  width: 64px;
  min-height: 1em;
  transition: background-color 0.2s;

  &__active {
    background-color: $secondary;
  }

  &__sorted {
    background-color: $highlight;
  }

  span {
    color: $text;
    width: 100%;
    align-self: flex-end;
    text-align: center;
    margin-bottom: $xs;
  }
}
