@import "src/app/variables";

.array-view {
  width: 80vw;
  margin: 0 auto;

  &--control {
    display: flex;
    justify-content: center;
    margin-bottom: $sm;
  }

  &--commentary {
    display: flex;
    justify-content: center;
    gap: 1em;

    &__loading {
      width: 100%;
      display: flex;
      gap: $md;
      p {
        height: 1em;
        background-color: $loading;
        border-radius: 1em;

        &:first-child {
          width: 10%;
        }
        &:last-child {
          width: 90%;
        }
      }
    }
  }
}
