@import "src/app/variables";

.text {
  color: $text;

  &__semiBold {
    font-weight: $semiBold;
  }

  &__14 {
    font-size: $textSm;
  }

  &__16 {
    font-size: $textMd;
  }

  &__18 {
    font-size: $textLg;
  }
}
