@import "src/app/variables";

.algorithm-controls {
  display: flex;
  align-items: flex-end;

  button {
    background: transparent;
    margin-left: $xs;
    border-radius: 8px;
    border: 1px solid $stroke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;

    &:disabled {
      border-color: $disabled;
      svg {
        fill: $disabled;
      }
    }

    &:hover:not(:disabled) {
      background-color: $button;
      svg {
        transform: scale(1.3);
      }
      cursor: pointer;
    }
  }

  svg {
    fill: $stroke;
    height: 18px;
    width: 18px;
    transition: 0.2s;
  }
}
