@import "src/app/variables";
@import "src/app/mixins";

.heading {
  color: $heading;
  text-align: center;

  &__32 {
    font-size: $headingSm;
  }

  &__48 {
    font-size: $headingMd;
  }

  &__64 {
    font-size: $headingLg;

    @include devices(tablet) {
      font-size: $headingMd;
    }

    @include devices(mobile) {
      font-size: $headingSm;
    }
  }
}
