@import "src/app/variables";

.heading {
  color: #222222;
  text-align: center;

  &__32 {
    font-size: $headingSm;
  }

  &__48 {
    font-size: $headingMd;
  }

  &__64 {
    font-size: $headingLg;
  }
}
