$xxs: 4px;
$xs: 8px;
$sm: 12px;
$md: 16px;
$lg: 24px;
$xl: 32px;
$xxl: 64px;

$textSm: 14px;
$textMd: 16px;
$textLg: 18px;

$headingSm: 32px;
$headingMd: 48px;
$headingLg: 64px;

$semiBold: 500;

$background: #f8f5f2;
$backgroundAlt: #fffffe;
$card: #fffffe;
$cardAlt: #f8f5f2;
$button: #bed9d7;
$heading: #232323;
$buttonText: #232323;
$disabled: #999999;
$text: #222525;
$textAlt: #f8f5f2;
$stroke: #232323;
$highlight: #bed9d7;
$secondary: #f45d48;
$loading: lightgray;
