.code-block {
  margin-top: 16px;
  position: relative;
  width: fit-content;

  span {
    font-size: 18px;
  }

  &--vars {
    p {
      margin-bottom: 4px;
    }
  }

  &--header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 12px;

    button {
      background: none;
      border: none;

      &:hover {
        cursor: pointer;

        svg {
          fill: white;
        }
      }
    }

    svg {
      height: 24px;
      width: 24px;
      transition: 0.1s;
    }
  }
}
