@import "src/app/variables";

.code-block {
  margin-top: $md;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: fit-content;

  span {
    font-size: $textLg;
  }

  &__loading {
    pre {
      code {
        visibility: hidden;
      }
    }

    .code-block--header {
      background-color: lightblue;
      background: linear-gradient(
        to right,
        blue 0%,
        blue 10%,
        lightblue 10%,
        lightblue 100%
      );
      background-size: 200% 200%;
      animation-name: loading;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      select,
      svg {
        visibility: hidden;
      }
    }
  }

  &--header {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 12px;

    button {
      background: none;
      border: none;

      &:hover {
        cursor: pointer;

        svg {
          fill: white;
        }
      }
    }

    svg {
      height: 24px;
      width: 24px;
      transition: 0.1s;
    }
  }
}

@keyframes loading {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: -100% 100%;
  }
}
