@import "src/app/variables";
@import "src/app/mixins";

.code-block {
  margin-top: $xl;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: clamp(650px, 65%, 800px);

  pre {
    border: 1px solid black;
    border-top: none;
  }

  span {
    font-size: $textLg;
  }

  &__loading {
    pre {
      code {
        visibility: hidden;
      }
    }

    .code-block--header {
      &--select,
      svg {
        visibility: hidden;
      }
    }
  }

  &--header {
    display: flex;
    justify-content: space-between;
    background-color: $secondary;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: $sm $md;
    border: 1px solid black;
    border-bottom: none;

    button {
      background: none;
      border: none;

      &:hover {
        cursor: pointer;

        svg {
          fill: $textAlt;
        }
      }
    }

    svg {
      height: 24px;
      width: 24px;
      transition: 0.2s;
      fill: $stroke;
    }
  }

  @include devices(tablet) {
    width: 600px;

    span {
      font-size: $textMd;
    }
  }

  @include devices(mobile) {
    width: 100%;

    span {
      font-size: $textSm;
    }
  }
}

.language-picker {
  display: flex;
  gap: $sm;

  &--option {
    cursor: default;
    p {
      margin-bottom: $xxs;
    }

    &:hover {
      cursor: pointer;
    }

    &__selected {
      height: 2px;
      width: 100%;
      background-color: $stroke;
    }
  }
}
