.array {
  align-items: center;
  display: flex;
  height: 250px;
  gap: 8px;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 16px;
  margin-top: 24px;
  width: 80vw;
  padding-bottom: 16px;
  border-bottom: 20px solid blue;
  border-radius: 20px;
}
