@import "src/app/variables";

.array {
  align-items: center;
  display: flex;
  height: 250px;
  gap: $xs;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: $md;
  margin-top: $lg;
  width: 80vw;

  &--border {
    height: 5px;
    width: 100%;
    background-color: $stroke;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: $md;
  }

  &__loading {
    > div {
      animation-name: arrayItemLoading;
      animation-duration: 0.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;

      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          animation-delay: 0.2s * $i;
        }
      }

      > span {
        display: none;
      }
    }
  }
}

@keyframes arrayItemLoading {
  from {
    background-color: $card;
  }
  to {
    background-color: $loading;
  }
}

@keyframes arrayBorderLoading {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: -100% 100%;
  }
}
